body {
  width: 400px;
  height: 600px;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
}

.mdl-layout__header-row {
  padding-left: 15px;
}

.mdl-textfield {
  width: 100%;
}

.mdl-textfield textarea {
  border: 1px solid rgba(0, 0, 0, .12);
}

.mdl-dialog__title {
  font-size: 1.5rem;
}
